@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <h1 class="display-4">EV Charging for Microsoft Employees</h1>
</div>
<div>
    <p>
        <br />
        <br />
        This service allows Microsoft employees to find available Electric Vehicle (EV) charging stations at Microsoft office locations around the world, including getting notified by email when a charging station becomes available and when a charging process for your vehicle is completed, so you can make the charging station available to one of your colleagues.<br />
        Right now, this service is in prototype stage and is getting tested at Microsoft Munich Schwabing office. If you have feedback regarding the service, please contact <a href="mailto:erichb@microsoft.com">Erich Barnstedt</a>.
    </p>
</div>
